.square {
  background-color: skyblue;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: darkred;
  border-radius: 50%;
}

.start-game {
  padding: 25px;
  font-size: 14px;
  margin-bottom: 5px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.game-button {
  padding: 25px;
  border: none;
  border-radius: 20px;
  background-color: green;
  color: white;
}

.game-button:hover {
  background-color: rgb(0, 81, 0);
}